html {
    background: linear-gradient(to left, #ffeb99, #ffe066);
    text-align: center;
}
h3 {
    color: purple;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

th,
td {
padding: 10px;
border: 1px solid black;
}

footer {
    text-align: center;
}

a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tg']::before {
    content: '📞 ';
}